In [1]:
import pandas as pd
import numpy as np

In [5]:
homelessness = pd.read_csv('homelessness.csv' , index_col = 0)
homelessness

,region,state,individuals,family_members,state_pop
0,East South Central,Alabama,2570.0,864.0,4887681
1,Pacific,Alaska,1434.0,582.0,735139
2,Mountain,Arizona,7259.0,2606.0,7158024
3,West South Central,Arkansas,2280.0,432.0,3009733
4,Pacific,California,109008.0,20964.0,39461588
5,Mountain,Colorado,7607.0,3250.0,5691287
6,New England,Connecticut,2280.0,1696.0,3571520
7,South Atlantic,Delaware,708.0,374.0,965479
8,South Atlantic,District of Columbia,3770.0,3134.0,701547
9,South Atlantic,Florida,21443.0,9587.0,21244317
10,South Atlantic,Georgia,6943.0,2556.0,10511131
11,Pacific,Hawaii,4131.0,2399.0,1420593
12,Mountain,Idaho,1297.0,715.0,1750536
13,East North Central,Illinois,6752.0,3891.0,12723071
14,East North Central,Indiana,3776.0,1482.0,6695497
15,West North Central,Iowa,1711.0,1038.0,3148618
16,West North Central,Kansas,1443.0,773.0,2911359
17,East South Central,Kentucky,2735.0,953.0,4461153
18,West South Central,Louisiana,2540.0,519.0,4659690
19,New England,Maine,1450.0,1066.0,1339057
20,South Atlantic,Maryland,4914.0,2230.0,6035802
21,New England,Massachusetts,6811.0,13257.0,6882635
22,East North Central,Michigan,5209.0,3142.0,9984072
23,West North Central,Minnesota,3993.0,3250.0,5606249
24,East South Central,Mississippi,1024.0,328.0,2981020
25,West North Central,Missouri,3776.0,2107.0,6121623
26,Mountain,Montana,983.0,422.0,1060665
27,West North Central,Nebraska,1745.0,676.0,1925614
28,Mountain,Nevada,7058.0,486.0,3027341
29,New England,New Hampshire,835.0,615.0,1353465
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025
31,Mountain,New Mexico,1949.0,602.0,2092741
32,Mid-Atlantic,New York,39827.0,52070.0,19530351
33,South Atlantic,North Carolina,6451.0,2817.0,10381615
34,West North Central,North Dakota,467.0,75.0,758080
35,East North Central,Ohio,6929.0,3320.0,11676341
36,West South Central,Oklahoma,2823.0,1048.0,3940235
37,Pacific,Oregon,11139.0,3337.0,4181886
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922
39,New England,Rhode Island,747.0,354.0,1058287
40,South Atlantic,South Carolina,3082.0,851.0,5084156
41,West North Central,South Dakota,836.0,323.0,878698
42,East South Central,Tennessee,6139.0,1744.0,6771631
43,West South Central,Texas,19199.0,6111.0,28628666
44,Mountain,Utah,1904.0,972.0,3153550
45,New England,Vermont,780.0,511.0,624358
46,South Atlantic,Virginia,3928.0,2047.0,8501286
47,Pacific,Washington,16424.0,5880.0,7523869
48,South Atlantic,West Virginia,1021.0,222.0,1804291
49,East North Central,Wisconsin,2740.0,2167.0,5807406
50,Mountain,Wyoming,434.0,205.0,577601

In [11]:
print(homelessness.values[0:5])
print("___" * 50)
print(homelessness.columns)
print("___" * 50)
print(homelessness.index)
print("___" * 50)

[['East South Central' 'Alabama' 2570.0 864.0 4887681]
 ['Pacific' 'Alaska' 1434.0 582.0 735139]
 ['Mountain' 'Arizona' 7259.0 2606.0 7158024]
 ['West South Central' 'Arkansas' 2280.0 432.0 3009733]
 ['Pacific' 'California' 109008.0 20964.0 39461588]]
______________________________________________________________________________________________________________________________________________________
Index(['region', 'state', 'individuals', 'family_members', 'state_pop'], dtype='object')
______________________________________________________________________________________________________________________________________________________
Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
      dtype='int64')
______________________________________________________________________________________________________________________________________________________

In [12]:
homelessness.shape

(51, 5)

In [13]:
homelessness.dtypes

region             object
state              object
individuals       float64
family_members    float64
state_pop           int64
dtype: object

In [15]:
homelessness.describe()

         individuals  family_members     state_pop
count      51.000000       51.000000  5.100000e+01
mean     7225.784314     3504.882353  6.405637e+06
std     15991.025083     7805.411811  7.327258e+06
min       434.000000       75.000000  5.776010e+05
25%      1446.500000      592.000000  1.777414e+06
50%      3082.000000     1482.000000  4.461153e+06
75%      6781.500000     3196.000000  7.340946e+06
max    109008.000000    52070.000000  3.946159e+07

In [16]:
homelessness.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   region          51 non-null     object
 1   state           51 non-null     object
 2   individuals     51 non-null     float64
 3   family_members  51 non-null     float64
 4   state_pop       51 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.4+ KB

In [18]:
homelessness_ind = homelessness.sort_values('individuals')
homelessness_ind.head()

                region         state  individuals  family_members  state_pop
50            Mountain       Wyoming        434.0           205.0     577601
34  West North Central  North Dakota        467.0            75.0     758080
7       South Atlantic      Delaware        708.0           374.0     965479
39         New England  Rhode Island        747.0           354.0    1058287
45         New England       Vermont        780.0           511.0     624358

In [19]:
homelessness_index = homelessness.sort_values("individuals" , ascending=False)
homelessness_index.head(10)

                region         state  individuals  family_members  state_pop
4              Pacific    California     109008.0         20964.0   39461588
32        Mid-Atlantic      New York      39827.0         52070.0   19530351
9       South Atlantic       Florida      21443.0          9587.0   21244317
43  West South Central         Texas      19199.0          6111.0   28628666
47             Pacific    Washington      16424.0          5880.0    7523869
37             Pacific        Oregon      11139.0          3337.0    4181886
38        Mid-Atlantic  Pennsylvania       8163.0          5349.0   12800922
5             Mountain      Colorado       7607.0          3250.0    5691287
2             Mountain       Arizona       7259.0          2606.0    7158024
28            Mountain        Nevada       7058.0           486.0    3027341

In [20]:
two = homelessness.sort_values(["individuals" , "family_members"])
two.head(20)

                region          state  individuals  family_members  state_pop
50            Mountain        Wyoming        434.0           205.0     577601
34  West North Central   North Dakota        467.0            75.0     758080
7       South Atlantic       Delaware        708.0           374.0     965479
39         New England   Rhode Island        747.0           354.0    1058287
45         New England        Vermont        780.0           511.0     624358
29         New England  New Hampshire        835.0           615.0    1353465
41  West North Central   South Dakota        836.0           323.0     878698
26            Mountain        Montana        983.0           422.0    1060665
48      South Atlantic  West Virginia       1021.0           222.0    1804291
24  East South Central    Mississippi       1024.0           328.0    2981020
12            Mountain          Idaho       1297.0           715.0    1750536
1              Pacific         Alaska       1434.0           582.0     735139
16  West North Central         Kansas       1443.0           773.0    2911359
19         New England          Maine       1450.0          1066.0    1339057
15  West North Central           Iowa       1711.0          1038.0    3148618
27  West North Central       Nebraska       1745.0           676.0    1925614
44            Mountain           Utah       1904.0           972.0    3153550
31            Mountain     New Mexico       1949.0           602.0    2092741
3   West South Central       Arkansas       2280.0           432.0    3009733
6          New England    Connecticut       2280.0          1696.0    3571520

In [21]:
sorting =  homelessness.sort_values(["region" , "family_members"] , ascending=[True , False])
sorting

,region,state,individuals,family_members,state_pop
13,East North Central,Illinois,6752.0,3891.0,12723071
35,East North Central,Ohio,6929.0,3320.0,11676341
22,East North Central,Michigan,5209.0,3142.0,9984072
49,East North Central,Wisconsin,2740.0,2167.0,5807406
14,East North Central,Indiana,3776.0,1482.0,6695497
42,East South Central,Tennessee,6139.0,1744.0,6771631
17,East South Central,Kentucky,2735.0,953.0,4461153
0,East South Central,Alabama,2570.0,864.0,4887681
24,East South Central,Mississippi,1024.0,328.0,2981020
32,Mid-Atlantic,New York,39827.0,52070.0,19530351
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025
5,Mountain,Colorado,7607.0,3250.0,5691287
2,Mountain,Arizona,7259.0,2606.0,7158024
44,Mountain,Utah,1904.0,972.0,3153550
12,Mountain,Idaho,1297.0,715.0,1750536
31,Mountain,New Mexico,1949.0,602.0,2092741
28,Mountain,Nevada,7058.0,486.0,3027341
26,Mountain,Montana,983.0,422.0,1060665
50,Mountain,Wyoming,434.0,205.0,577601
21,New England,Massachusetts,6811.0,13257.0,6882635
6,New England,Connecticut,2280.0,1696.0,3571520
19,New England,Maine,1450.0,1066.0,1339057
29,New England,New Hampshire,835.0,615.0,1353465
45,New England,Vermont,780.0,511.0,624358
39,New England,Rhode Island,747.0,354.0,1058287
4,Pacific,California,109008.0,20964.0,39461588
47,Pacific,Washington,16424.0,5880.0,7523869
37,Pacific,Oregon,11139.0,3337.0,4181886
11,Pacific,Hawaii,4131.0,2399.0,1420593
1,Pacific,Alaska,1434.0,582.0,735139
9,South Atlantic,Florida,21443.0,9587.0,21244317
8,South Atlantic,District of Columbia,3770.0,3134.0,701547
33,South Atlantic,North Carolina,6451.0,2817.0,10381615
10,South Atlantic,Georgia,6943.0,2556.0,10511131
20,South Atlantic,Maryland,4914.0,2230.0,6035802
46,South Atlantic,Virginia,3928.0,2047.0,8501286
40,South Atlantic,South Carolina,3082.0,851.0,5084156
7,South Atlantic,Delaware,708.0,374.0,965479
48,South Atlantic,West Virginia,1021.0,222.0,1804291
23,West North Central,Minnesota,3993.0,3250.0,5606249
25,West North Central,Missouri,3776.0,2107.0,6121623
15,West North Central,Iowa,1711.0,1038.0,3148618
16,West North Central,Kansas,1443.0,773.0,2911359
27,West North Central,Nebraska,1745.0,676.0,1925614
41,West North Central,South Dakota,836.0,323.0,878698
34,West North Central,North Dakota,467.0,75.0,758080
43,West South Central,Texas,19199.0,6111.0,28628666
36,West South Central,Oklahoma,2823.0,1048.0,3940235
18,West South Central,Louisiana,2540.0,519.0,4659690
3,West South Central,Arkansas,2280.0,432.0,3009733

In [24]:
subseting = homelessness[["individuals" , "region"]]
subseting.head()

   individuals              region
0       2570.0  East South Central
1       1434.0             Pacific
2       7259.0            Mountain
3       2280.0  West South Central
4     109008.0             Pacific

In [28]:
ind_get_10k = homelessness["individuals"]  > 10000
ind_get_10k.head()

0    False
1    False
2    False
3    False
4     True
Name: individuals, dtype: bool

In [29]:
ind_get_10k = homelessness[homelessness["individuals"] > 10000]
ind_get_10k.reset_index()

,index,region,state,individuals,family_members,state_pop
0,4,Pacific,California,109008.0,20964.0,39461588
1,9,South Atlantic,Florida,21443.0,9587.0,21244317
2,32,Mid-Atlantic,New York,39827.0,52070.0,19530351
3,37,Pacific,Oregon,11139.0,3337.0,4181886
4,43,West South Central,Texas,19199.0,6111.0,28628666
5,47,Pacific,Washington,16424.0,5880.0,7523869